/*Style Geral*/


body {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	background: #385965;
}
/* Style Login */

.wrapper { 
  background: #385965;
  background: -webkit-linear-gradient(top left, #385965 0%, #00bbd4 100%);
  background: -moz-linear-gradient(top left, #385965 0%, #00bbd4 100%);
  background: -o-linear-gradient(top left, #385965 0%, #00bbd4 100%);
  background: linear-gradient(to bottom right, #385965 0%, #00bbd4 100%); 
  position: absolute; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container { 
  width: 600px;
  padding: 20px;
  height: 400px;
  position: absolute;
  top: calc(50% - 220px); 
  left: calc(50% - 300px); 

}

.total {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 8px 12px rgba(0,0,0,0.22);
}

.title {
  font-family: 'Roboto', sans-serif;
  color: #fff;  
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  width: 300px;
}

.title span {
  font-weight: 500;
}

.errorMsg {
  font-family: 'Roboto', sans-serif;
  color: #fff;  
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  width: 300px;
}

.form {
  width: 300px;
  margin: 0 auto; 
  padding: 10px;
}

.input{
  display: block;
  appearance: none;
  border: 1px solid #fff; 
  width: 209px;
  border-radius: 3px; 
  margin: 0 auto 10px auto;
  padding: 15px 37px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #fff;
  background-color: rgba(255,255,255, 0.4);

}  

.input:focus {
  color: #fff;
}

::-webkit-input-placeholder {
   color: white;
   font-family: 'Roboto', sans-serif;
   font-weight: 100;
}

#user {
  background-image: url(../img/social.png);
    background-position: 7px;
    background-repeat: no-repeat; 
}


#pass {
  background-image: url(../img/security.png);
    background-position: 7px;
    background-repeat: no-repeat; 
}


.button {
  background: transparent; 
  cursor: pointer; 
  border: 1px solid #fff; 
  padding: 10px; 
  width: 280px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
  color: #fff;
  font-family: 'Roboto', sans-serif; 
  margin: 10px;
  font-size: 17px;

}
.button:hover {
  border-bottom: 3px solid #fff;
  border-radius: 3px;
}



/* End Style Login */


.content {
	width: 960px;
	margin: 0 auto;
	height: 100%;
  margin: 23px auto 0 auto;
}

.content.white {
	background-color: #fff; 
  padding-top: 5px;
  margin-bottom: -23px;
}

.topLogo{
  width: 100%;
  margin: 10px 5px 130px 10px;
  display: block;

}

.logo {
  width: 100px;
  position: absolute;
  left: calc(50% - 50px);
}

.logo img {
  max-width: 100px ;
}

.help {
  width: 100px;
  float: right;
  margin: 20px 40px 0 0;
  text-align: center;
}

.help a {
  text-decoration: none;
}

.help p {
  margin: 0;
  color: #385965;
  font-weight: 500;
  text-align: left;
}

.help img {
  width: 30px;
  text-align: center;  
}

.menu {
  display: block;
	background-color: #385965;	
	width: 950px; 
  margin: 20px auto 0 auto;

}

.adicionar {
  display: block;
  float: right;
  margin: 15px 10px -43px 10px;
}

ul {
  border-bottom: 1px solid #fff;
  list-style: none;
  padding: 0;
  font-size: 0;
  width: 100%;
  margin: 10px 0;
}
.menu li { 
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease-in-out; 
  width: calc(100% / 3);
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;    
  }

.menu li:first-child{
	text-align: center; 	 
}

.menu li:last-child{
	text-align: center;
	margin: 0;
}
.menu a:hover {
  background-position: bottom center;    
  color: #fff; 
}

.menu li a {
  background-image: linear-gradient(to bottom, transparent 50%, #00bbd4 50%, #00bbd4 95%, #00bbd4 95%);
  background-size: 100% 200%;
  background-position: top center;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 1rem 0;
  transition: all .25s ease-in-out;
}

.submenu {
	width: 250px;
	background: #fff;
	padding: 20px;
	color: #fff; 
	float: left;
	margin: 10px 0 0 10px;
} 

.responsive-table {
  width: 100%;
  margin-bottom: 1.5em;
}
@media (min-width: 48em) {
  .responsive-table {
    font-size: .9em;
  }
}
@media (min-width: 62em) {
  .responsive-table {
    font-size: 1em;
  }
}
.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
@media (min-width: 48em) {
  .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
}
.responsive-table thead th {
  background-color: #00bbd4;
  border: 1px solid #1d96b2;
  font-weight: normal;
  text-align: center;
  color: white;
}
.responsive-table thead th:first-of-type {
  text-align: center;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
  font-weight: 400;
  color: #000;
}
@media (min-width: 48em) {
  .responsive-table tr {
    display: table-row;
  }
}
.responsive-table th,
.responsive-table td {
  padding: .5em;
  vertical-align: middle;
}
@media (min-width: 30em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 48em) {
  .responsive-table th,
  .responsive-table td {
    display: table-cell;
    padding: .5em;
  }
}
@media (min-width: 62em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 75em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em;
  }
}
.responsive-table caption {
  margin-bottom: 1em;
  font-size: 1em;
  text-align: center;
  font-weight: 300;
}
@media (min-width: 48em) {
  .responsive-table caption {
    font-size: 1.5em;
  }
}
.responsive-table tfoot {
  font-size: .8em;
  font-style: italic;
}
@media (min-width: 62em) {
  .responsive-table tfoot {
    font-size: .9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody {
    display: table-row-group;
  }
}
.responsive-table tbody tr {
  margin-bottom: 1em;
  border: 2px solid #1d96b2;
}
@media (min-width: 48em) {
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}
.responsive-table tbody tr:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 48em) {
  .responsive-table tbody tr:nth-of-type(even) {
    background-color: rgba(94, 93, 82, 0.1);
  }
}
.responsive-table tbody th[scope="row"] {
  background-color: #1d96b2;
  color: white;
}
@media (min-width: 48em) {
  .responsive-table tbody th[scope="row"] {
    background-color: transparent;
    color: #5e5d52;
    text-align: left;
  }
}
.responsive-table tbody td {
  text-align: right;
}
@media (min-width: 30em) {
  .responsive-table tbody td {
    border-bottom: 1px solid #1d96b2;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td {
    text-align: center;
  }
}
.responsive-table tbody td[data-type=currency] {
  text-align: right;
}
.responsive-table tbody td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: .8em;
  color: rgba(94, 93, 82, 0.75);
}
@media (min-width: 30em) {
  .responsive-table tbody td[data-title]:before {
    font-size: .9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td[data-title]:before {
    content: none;
  }
}

.listagem-question {
  font-size: 22px;
    margin: 30px 20px 40px 380px;
    display: inline-block;
    font-weight: 400;
}


/* Checkbox Ativo  */

.ativo {
  display: block;
  width: 34px;
  height: 25px;
  margin: 0 auto;
  text-align: center ;
  background-image: url(../img/ativo.png);
  background-repeat: no-repeat;
  background-position: 7px;
  background-size: 85%;

}

.desativo {
	display: block;
  width: 34px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  background-image: url(../img/n-ativo.png);
  background-repeat: no-repeat;
  background-position: 7px;
  background-size: 85%;

}

.edit{
  display: inline-block;
  width: 15px;
  height: 25px;
  padding: 1px 0 0 15px;
  border-radius: 4px;
  text-align: center;
  background-image: url(../img/editing.png);
  background-repeat: no-repeat;
}

.view{
  display: inline-block;
  width: 15px;
  height: 25px;
  padding: 1px 0 0 15px;
  border-radius: 4px;
  text-align: center;
  background-image: url(../img/view.png);
  background-repeat: no-repeat;
}

.delete{ 
  width: 20px;
  height: 25px;
  padding: 10px 9px 0 15px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  background-image: url(../img/delete.png);
  background-repeat: no-repeat;
}

/* Estilo Página de Cadastro de questões  */

.cadastro {
  background: #fff;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-top: 5px solid #385965;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}


.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

.title-cadastro {
  text-align: center;
  font-size: 28px;
  color: #385965;
  font-weight: 500;
  margin: 0 0 40px;
}

label {
  font-weight: normal;
  margin-bottom: 8px;
  font-size: 16px;
}

::-webkit-input-placeholder {
  color: #fff;
}

#cadastro label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: #fff;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px; 
}
#cadastro label .req {
  margin: 2px;
  color: #1ab188;
}

#cadastro label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
#cadastro label.active .req {
  opacity: 0;
}

#cadastro label.highlight {
  color: #000;
}

 #frmQuestao form, textarea {
  display: block;
  font-size: 1.0em;
  padding: 0.25em;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #BABABA;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #00bbd4;
  color: #385965;
}

input[type=checkbox], input[type=radio] {
	width: auto;
	height: auto;
}

#cadastro textarea {
  border: 2px solid #00bbd4;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 10px;
  margin-left: -12px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button-cadastrar {
  background: #385965;
  border: 1px solid #385965;
  outline: none; 
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em; 
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.button-cadastrar:hover, .button-cadastrar:focus {
  background-color: #fff; 
  border: 1px solid #385965;
  color: #385965;
}

.button-block {
  display: inline-block;
  width: 150px;
}

.button-cancelar {
  background-color: #F44336;
  border: 1px solid #F44336;
  border-radius: 4px;
  outline: none; 
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em; 
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
}
.button-cancelar:hover, .button-cancelar:focus {
  background-color: #fff;
  border: 1px solid #F44336;
  color: #ff5335; 
}


.img-up img {
  max-width: 600px;
}
 
 

#alternativas h4 {
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 1px solid #385965;
}

#textoObjetivo h4 {
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 1px solid #385965;
}

#verdadeiroFalso h4 {
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 1px solid #385965;
}

#input-alt {
  display: inline-block;
  width: 400px;
}

#input-alt h5 {
  font-weight: 400;
  font-size: 16px;
}

#input-corret {
  width: 150px;
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}

#input-corret h5 {
  font-weight: 400;
  font-size: 16px;
}

.add {
  margin-top: 20px;
} 
 

/* TESTE */

.field-wrap span {
  position: relative;
  display: inline-block;
  margin: 30px 10px;
  width: 100%;
}

.campoForm form, input {
  display: inline-block;
  width: 73%;
  padding: 7px 0 10px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #385965;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  /* text-indent: 70px; */
  margin-left: 140px; 
}


.campoForm  form, select {
  display: inline-block;
  width: 77%;
  padding: 10px 0 10px 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #385965;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  margin-left: 140px;
  
}

.campoForm form, textarea {
  resize: none;
  display: block;
  width: 94%;
  padding: 10px 0 60px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #385965;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  margin-top: 39px;
  margin-left: 0px;
}

.campoForm::-webkit-input-placeholder { 
  font-family: 'Roboto', sans-serif;
  text-indent: 0;
  font-weight: 300; 
  color: #385965;
}
.campoForm + label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #385965; 
  color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 115px;
}
 
.campoForm form, label, p {
  font-size: 12px;
  text-align: left;
} 

input.campoForm.small {
  width: 49%;
}

label.pad {
    padding: 0px 15px;
}

.campoForm + label.enunciado {
  border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
}

.campoForm:focus,
.campoForm:active {
  color: #377D6A;
  text-indent: 0; 
  outline: 1px solid #00bbd4 ;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.campoForm:focus::-webkit-input-placeholder,
.campoForm:active::-webkit-input-placeholder {
  color: #aaa;
} 

.field-wrap.right {
    float: right;
    margin-top: -104px;
    width: 100px;
}

.field-wrap.true {
    float: left;
    margin-top: -104px;
    width: 100px;
    margin-left: 480px;
}

.field-wrap.false {
    float: right;
    margin-top: -104px;
    width: 50px;
    /* margin-left: 10px; */
    margin-right: -15px;
}
 
label h3 {
  font-weight: 400;
} 

input.campoForm.correta {
    width: auto;
    height: auto;
    margin-left: 0;
    display: block;
}  

 .switch {
  margin-top: -9px;
 }

 .switch input {
  display: none;
}


.switch label {
  -webkit-appearance: none;
  display: block;
  height: 26px;
  width: 54px;
  border-radius: 50px;
  margin: 10px 10px 0 0;
  background: #B7C3C0;
  position: relative;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.switch label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 23px;
  background: white;
  border-radius: 50%;
  border-radius: 16px;
  z-index: 1;
  animation: uncheck 0.3s ease-out;
  -webkit-animation: uncheck 0.3s ease-out;
  -moz-animation: uncheck 0.3s ease-out;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
}
.switch input:checked + label {
  background: #77E371;
}
.switch input:checked + label:before {
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
  -moz-transform: translateX(26px);
  animation: check 0.3s ease-out;
  -webkit-animation: check 0.3s ease-out;
  -moz-animation: check 0.3s ease-out;
  transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
}

@keyframes uncheck {
  0% {
    transform: translateX(26px);
  }
  20% {
    transform: translateX(13px) scaleX(1.5);
  }
  40% {
    transform: translateX(0px) scaleX(0.75);
  }
  70% {
    transform: translateX(6px) scaleX(1);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes uncheck {
  0% {
    -webkit-transform: translateX(26px);
  }
  20% {
    -webkit-transform: translateX(13px) scaleX(1.5);
  }
  40% {
    -webkit-transform: translateX(0px) scaleX(0.75);
  }
  70% {
    -webkit-transform: translateX(6px) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@-moz-keyframes uncheck {
  0% {
    -moz-transform: translateX(26px);
  }
  20% {
    -moz-transform: translateX(13px) scaleX(1.5);
  }
  40% {
    -moz-transform: translateX(0px) scaleX(0.75);
  }
  70% {
    -moz-transform: translateX(6px) scaleX(1);
  }
  100% {
    -moz-transform: translateX(0px);
  }
}
@keyframes check {
  0% {
    transform: translateX(2px);
  }
  20% {
    transform: translateX(13px) scaleX(1.5);
  }
  40% {
    transform: translateX(26px) scaleX(0.75);
  }
  70% {
    transform: translateX(20px) scaleX(1);
  }
  100% {
    transform: translateX(26px);
  }
}
@-webkit-keyframes check {
  0% {
    -webkit-transform: translateX(2px);
  }
  20% {
    -webkit-transform: translateX(13px) scaleX(1.5);
  }
  40% {
    -webkit-transform: translateX(26px) scaleX(0.75);
  }
  70% {
    -webkit-transform: translateX(20px) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(26px);
  }
}
@-moz-keyframes check {
  0% {
    -moz-transform: translateX(2px);
  }
  20% {
    -moz-transform: translateX(13px) scaleX(1.5);
  }
  40% {
    -moz-transform: translateX(26px) scaleX(0.75);
  }
  70% {
    -moz-transform: translateX(20px) scaleX(1);
  }
  100% {
    -moz-transform: translateX(26px);
  }
}

 


.addAlternativa { 
  background: url('../img/add.png') #7C8C88;
  background-position: 10px;
  background-repeat: no-repeat;
  padding: 10px 0 10px 22px;
  color: #fff;
  width: 170px; 
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none; 
} 

.addAlternativa:hover {
  opacity: 0.7;
  border: 0;
}
 
.rmvAlternativa { 
  background: url('../img/remove.png') #F44336;
  background-position: 10px;
  background-repeat: no-repeat;
  padding: 10px 0 10px 22px;
  color: #fff;
  width: 170px; 
  border-radius: 4px;
  border: 0; 
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none; 
} 

.rmvAlternativa:hover {
  opacity: 0.7;
}


.sucess {
  background-color: #77E371;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  width: 460px;
}

.error {
  background-color: #F44336;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  width: 460px;
}

.img-up {
  max-width: 600px;
  margin: 10px;
}

.pagination {
  display: block;
  margin: 10px;
}

.pagination div>div {
  text-align: center;
  background: #385965;
  display: inline-block;
  min-width: 35px;
  padding: 5px 0;
  margin: 2px;
  border: 0;
  border-radius: 4px;
}

.pagination div>div:hover {
  opacity: 0.7;
}

.pagination a {  
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 0 10px; 
}

.login  {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  background: #385965;
  background: -webkit-linear-gradient(top left, #385965 0%, #00bbd4 100%);
  background: -moz-linear-gradient(top left, #385965 0%, #00bbd4 100%);
  background: -o-linear-gradient(top left, #385965 0%, #00bbd4 100%); 
}

/*  Style Documentação */

.documentacao {
  background: #fff;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-top: 5px solid #385965;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}


.documentacao h2 {
  border-bottom: 1px solid #385965;
  padding: 5px;
  color: #385965;
  font-weight: 500;
  text-align: center;
}


.documentacao strong {
  font-weight: 500;
}

.documentacao h3 {
  color: #385965;
  font-weight: 400;
  margin: 0;
}


/*////////////////////////////////RAFAEL//////////////////*/

.checkbox{
	margin-left: 10px;	
}

.frmFiltro {
	clear: both;
	padding: 5px;	
}

.frmFiltro input, .frmFiltro select {
	width: auto;
	display: inline-block;
  	font-family: 'Roboto', sans-serif;
  	font-weight: 400;
  	color: #385965;
  	background: #efefef;
  	border: 0;
  	border-radius: 3px;
	padding: 5px;
  	outline: 0;
	margin: 0;
}

input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 1.43em;
  height           : 1.43em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.125em solid rgb(56,89,101);
  border-radius    : 0.72em;
  background       : rgb(157,20,30);
  background-image :    -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :     -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :      -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image : -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :         linear-gradient(rgb(255,255,255),rgb(255,255,255));
  vertical-align   : middle;
}

input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :     -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :      -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image : -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :         linear-gradient(rgb(255,255,255),rgb(255,255,255));
}

input[type=radio]:not(old):checked + label > span > span{
  display: block;
  width: 0.9em;
  height: 0.9em;
  margin: 0.15em 0px 0px 0.2em;
  border: 0.0625em solid #385965;
  border-radius: 0.5em;
  background-image :    -moz-linear-gradient(rgb(56,89,101),rgb(56,89,101));
  background-image :     -ms-linear-gradient(rgb(56,89,101),rgb(56,89,101));
  background-image :      -o-linear-gradient(rgb(56,89,101),rgb(56,89,101));
  background-image : -webkit-linear-gradient(rgb(56,89,101),rgb(56,89,101));
  background-image :         linear-gradient(rgb(56,89,101),rgb(56,89,101));
}


